.footer {
  background: #000000;
}

.footer-container {
  max-width: 100%;
  padding: 60px 10px 30px 10px;
  margin: 20px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-copy {
  display: grid;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.125rem;
  color: #062408;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
